@font-face {
  font-family: NB;
  src: url(/fonts/NBInternationalProBoo.ttf);
}

@font-face {
  font-family: Rejouice;
  src: url(/fonts/Rejouice-Headline.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}